.container {
  background-color: #ffd569;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.contain-container {
  padding: 40px;
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contain-container {
    width: 90%;
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.heading {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 30px;
  }
}
.card {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .card {
    width: 90%;
  }
}
.image {
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .image {
    width: 50%;
  }
}
.btn {
  text-align: center;
}
.btn-style {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.count-style {
  color: #ffd569;
}
